<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745722380940-qq7iju9k9sjpm3elb5u6ns9hhactnebr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745722380940-qq7iju9k9sjpm3elb5u6ns9hhactnebr</string>
	<key>API_KEY</key>
	<string>AIzaSyC6HSJOW2pQ-lp2GShtHp-WnOH6JdLXvs4</string>
	<key>GCM_SENDER_ID</key>
	<string>745722380940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.styles</string>
	<key>PROJECT_ID</key>
	<string>styles-final-db</string>
	<key>STORAGE_BUCKET</key>
	<string>styles-final-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745722380940:ios:50d9c60fbbc729789671a9</string>
</dict>
</plist>